body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  background-image: linear-gradient(20deg,yellow,pink,white,aqua);
  padding: 10px;
  height: 60px;
}
a:link{
  width: 200px;
  text-align: center;
  margin-right: 120px;
  text-decoration: none;
  font-size: 25px;
  transition: all 2s;
  padding: 5px 10px ;
}
a:link:first-child{
  margin-left: 70px;

}
a:link:nth-child(2){
  margin-right: 50px;
}
a:link:hover{
  border-bottom: 4px solid black;
  color: aqua;
  background-color: black;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}